/**
 * Float Layout Activity
 **/

 * {
    box-sizing: border-box;
    text-align: center;
  }
  
  body {
      border-width:10px;

  }
  
  header {
    padding: 20px;
    margin-bottom: 20px;
    color: #333;
    background: #FFA500;
  }
  
  section {
      display:inline-block;
      padding:30px;
      
  }
  
  #left {
      float:left;
      width:33.3%;
      background-color:#30948D;
      color:white;
  }
  
  #middle {
      float:left;
      width: 33.3%;
      background-color:#9E1212;
      color:white;
  }
  
  #right {
      float:right;
      width:33.3%;
      background-color: #30948D;
      color:white;
  }
  
  #full {
      background-color:#394549;
      color:white;
      display:block;
      padding-bottom:300px;
      margin-top:120px;
      width:100%;
  }
  
  #division {
      background-color:#6ea3da;
      padding:40px;
      margin-top:40px;
      margin-left:10px;
      margin-right:30px;
      
  }
  
  aside {
      background-color: #a6b747;
      color:white;
      float:left;
      width:33%;
      padding:30px 80px 350px 80px;
      border-color:white;
      border-width:5px;
  }
  
  footer {
      background-color:#FFA500;
      margin-top:20px;
      padding:20px;
      display:block;

  }
  