#allyoucanread-logo {
    float:left;
    margin-left:250px;
}

.nav1 {
    background-color:#000;
    padding:30px;
}
#nav1 {
    color:white;
    display:inline;
    padding-left:380px;
    padding-top:100px;
}
.nav2 {
    font-size:70%;
}
li {
    list-style-type:none;
    display: inline;
    margin:20px;
}

#facebook-logo {
    height:30px;
    width:30px;
}
#twitter-logo {
    height:35px;
    widows: 45px;
}

.intro {
    display:block;
    text-align:center;
    margin-left:265px;
    margin-right:265px;
    background-color:black;
    background-size:200px;
}

.topic h1 {
    color:white;
    font-size:30px;
    padding-top:20px;
}
.topic h2 {
    font-size:15px;
    color:rgb(241, 241, 46);
    padding-bottom:20px;
}
.topic {
    background-color:rgb(80, 80, 15);
}
.catphoto {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:65%;
}

.cat-magzine {
    font-size:28px;
    margin-left:265px;
}