h1 {
    background-color:blueviolet;
    padding-top:20px;
    padding-bottom:20px;
    margin-left:80px;
    margin-right:80px;
    color:white;
    font-size:45px;
    text-align:center;
}

/* #first-part {
    float:left;
    width:66.67%;
    margin-left:80px;
} */

#first-part {
    text-align: center;
}

#basic-info {
    display:inline-block;
}

#about-me {
    display:inline-block;
    width:25%;
    padding: 75px 100px 0px;
    text-align: left;
    vertical-align: top;
}

#contact-info {
    display:inline-block;
    text-align: left;
    vertical-align: top;
}

.myphoto {
    height:230px;
    width:200px;
}

h3 {
    font-size:20px;
    color:blueviolet;
}

li {
    padding:20px;
}

a {
    text-decoration:none;
    color:red;
}